<div class="row columns is-multiline">
  <div class="column is-4" *ngFor="let category of categories">
    <div class="card large">
      <div class="card-image is-128x128">
        <figure class="image">
          <img [src]="category.image" alt="category.name" routerLink="/workshop/categories/{{category.name}}"
            style="cursor: pointer">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <p class="title is-4 no-padding">{{category.name}}</p>
        </div>
        <div class="content">
          {{category.description}}
        </div>
      </div>
    </div>
  </div>
</div>
