<!-- Mensaje de Bienvenida -->
<div class="container is-fluid is-center">
  <div class="notification">
    Bienvenid@ <strong>{{user.name}}</strong>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <figure class="image is-256x256">
          <img [src]="user.photo">
        </figure>
      </div>
      <div class="column is-5">
        <article class="message is-info">

          <div class="message-body">
            <strong>Datos personales: </strong><br>
            <strong>Nombre: </strong>{{user.name |titlecase}} {{user.lastName|titlecase}}<br>
            <strong>Correo: </strong>{{user.email}}<br>
            <strong>Rol: </strong>{{user.role}}
          </div>
        </article>
        <article class="message is-info" *ngIf="alumno">
          <div class="message-body">
            <strong>Datos escolares: </strong><br>
            <strong>Carrera: </strong>{{user.collegeCareer }}<br>
            <strong>Semestre: </strong>{{user.semester}}<br>
            <strong>Número de cuenta: </strong>{{user.accountNumber}}
          </div>
        </article>
      </div>
      <div class="column is-2">
        <div class="buttons is-centered">
            <button class="button is-success is-rounded" *ngIf="alumno">Editar perfil</button>
            <button class="button is-link is-rounded" routerLink="/profile/workshopsUser">Ver talleres</button>
          </div>
      </div>
    </div>
  </div>
</section>