<!-- Utilizando ngFor recorre el array de talleres y muestra la información de cada uno -->

<h2 class="title">Talleres del {{user.role}} {{user.name}}</h2>
<app-there-is-not *ngIf="nohay" [mensaje]="mensaje"></app-there-is-not><br>
<button class="button is-info" routerLink="/profile">Volver a perfil</button><br>
<div class="row columns is-multiline">
    <div class="column is-3" *ngFor="let workshop of workshops">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{workshop.workshop_name | titlecase }}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {{workshop.workshop_description }}<hr>
        </div>
        <footer class="card-footer">
            <!-- <button class="button is-fullwidth is-primary is-outlined" routerLink="{{workshop.workshop_id}}">Ver detalles</button> -->
              <button class="button is-success is-fullwidth" routerLink="/profile/workshopsUser/{{workshop.workshop_id}}">Ver detalles</button>
        </footer>
        
      </div>
    </div>
  </div>
  
  
