<div class="field my-3">
    
    <label class="label">{{label}}</label>
  
    <div class="control has-icons-left has-icons-right">
      <input 
        class="input is-info is-rounded" 
        [type]="type" 
        [placeholder]="placeholder"
        [ngClass]="{ 'is-danger': isInvalid}"
        [formControl]="inputFormControl"
        
        >
      <!-- display icon error -->
      <span *ngIf="isInvalid" class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
  
    <!-- feedback message -->
    <ng-container *ngIf="isInvalid">
      <p 
        *ngIf="isRequiredInvalid" 
        class="help is-danger"
        >Se require este campo</p>
      <p 
        *ngIf="isMinLengthInvalid" 
        class="help is-danger"
        >Debe ingresar {{inputFormControl.errors.minlength.requiredLength}} caracteres y solo hay {{inputFormControl.errors.minlength.actualLength}}
    </p>
        <p 
        *ngIf="isMaxLengthInvalid" 
        class="help is-danger"
        >Debe ingresar {{inputFormControl.errors.maxlength.requiredLength}} caracteres y hay {{inputFormControl.errors.maxlength.actualLength}}
    </p>
      <p 
        *ngIf="isPatternInvalid" 
        class="help is-danger"
        >Llene correctamente el campo y no se permiten espacios</p>

        <p 
        *ngIf="isMinInvalid" 
        class="help is-danger"
        >El semestre mínimo es 1</p>
        <p 
        *ngIf="isMaxInvalid" 
        class="help is-danger"
        >El semestre máximo es 10</p>

        <p 
        *ngIf="isUniqueEmail" 
        class="help is-danger"
        >El correo ya ha sido registrado antes</p>

        <p 
        *ngIf="isUniqueAccount" 
        class="help is-danger"
        >El número de cuenta ya ha sido registrado antes</p>
      
    </ng-container>
  </div>