<!-- Begin About Me Section -->
<br>
<div class="section-light about-me" id="about-me">
    <div class="container">
      <div class="columns is-multiline">
        <div
          class="column is-6 has-vertically-aligned-content"
          data-aos="fade-right"
        >
          <p class="is-larger">
            &emsp;&emsp;<strong>Registro en linea de talleres.</strong
            >
          </p>
          <br />
          <p>
            Es una página que le permite como alumno, revisar las distintas categorias de talleres,
              registrarse en un taller, o eliminar ese registro, además de ver y editar su perfil. Como instructor
              usted podrá crear talleres, editarlos o borrarlos según le parezca
          </p>
          <br />
          
        </div>
        <div class="column is-6 right-image " data-aos="fade-left">
          <figure class="image is-320x320">
            <img src="https://trabajarporelmundo.org/wp-content/uploads/2015/04/cursos-online-gratis-en-espn%CC%83aol.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
