<div class="columns is-centered">
    <figure class="image is-256x256 is-centered">
        <img  src="https://fbm.es/imagenes/error-404.png">
    </figure>
</div>

<div class="buttons is-centered">
    <button class="button is-success is-rounded" routerLink="/">Volver a inicio</button>
</div>


