<!-- Mensaje de Bienvenida -->
<div class="container is-fluid">
  <div class="notification">
    Bienvenid@ a <strong>Aprende a hacerlo</strong>, donde podrá ver diferentes talleres que ofrece su espacio educativo
    y a los
    cuales podra registrarse de manera online.
  </div>
</div>

<!-- Componente de presentación -->
<app-user-instructor></app-user-instructor>

<ng-container >
  <!-- Muestra este mensaje en caso de que no existan talleres -->
  <app-there-is-not *ngIf="showNotice"></app-there-is-not>

  <!-- En caso de que existan talleres llama a este componente y con ngFor muestra los talleres -->
  <ng-container *ngIf="!showNotice">
    <section class="section">
      <div class="container">
        <article class="message is-info">
          <div class="message-body">
            Últimos talleres agregados
          </div>
        </article>
        <app-workshop-card [workshops]="mostRecentWorkshop"></app-workshop-card>
      </div>
    </section>
  </ng-container>
</ng-container>
