<!-- Modal que se va a mostrar cuando un usuario de click en el boton de registrar -->
<app-subscribe *ngIf="show" [mensaje]="mensaje" (cerrarModal)="cerrarModal($event)"></app-subscribe>

<div class="buttons is-centered">
  <button class="button is-success is-rounded" routerLink="/workshop/categories/{{workshop.category}}">Volver a
    talleres</button>
</div>
<!-- Titulo -->
<section class="hero is-info">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-12">
        <div class="container content">
          <h1 class="title">{{workshop.name|titlecase}}</h1>
          <h3 class="subtitle">
            Taller creado el día {{workshop.createdAt | date}}
          </h3>
          <!-- Si el usuario esta registrado entonces podra registrarse a un taller -->
            <button *ngIf="isAuthenticated" class="button is-warning is-rounded" type="button" (click)="inscribirse()"><strong>Registrarme a taller</strong></button>
            
            <!-- si no ha iniciado sesión le envia el link para que lo haga -->
            <span *ngIf="!isAuthenticated" class="tag is-warning is-medium">
                Para poder inscribirse a un taller,  
                <a routerLink="/auth/login">
                     Inicia sesión
                </a>👆🏼
            </span>
            <!--Cuando un usuario da click en registrar va a mostrarse un progressbar, mientras se realiza el llamado al servicio -->
            <progress *ngIf="loading" class="progress is-small is-primary" max="100">15%</progress>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Horarios -->
<div class="container">
  <div class="columns">
    <div class="column is-6 ">
      <div class="card events-card">
        <header class="card-header">
          <p class="card-header-title">
            Horarios
          </p>
        </header>
        <div class="card-table">
          <div class="content">
            <app-notification *ngIf="horarios"></app-notification>
            <table *ngIf="!horarios" class="table is-fullwidth is-striped">
              <tbody>
                <tr *ngFor="let sc of schedule">
                  <td width="5%"><i class="fa fa-bell-o"></i></td>
                  <td>{{sc.schedule_day |titlecase}} {{sc.schedule_startTime}} -- {{sc.schedule_endTime}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Informacion del taller -->
    <div class="column is-6 ">
      <article class="message is-info">

        <div class="message-body">
          <h3 class="subtitle">Categoria.</h3>
          {{workshop.category}}
        </div>
      </article>
      <article class="message is-info">

        <div class="message-body">
          <h3 class="subtitle">Detalles.</h3>
          <strong>Fecha de inicio: </strong>{{workshop.startDate|date}}<br>
          <strong>Fecha de fin: </strong>{{workshop.endDate|date}}<br>
          <strong>Capacidad: </strong>{{workshop.capacity}}<br>
          <strong>Lugares disponibles: </strong>{{workshop.placesAvailable}}
        </div>
      </article>
      <article class="message is-info">
        <div class="message-body">
          <h3 class="subtitle">Descripción.</h3>
          {{workshop.description}}
        </div>
      </article>
    </div>
  </div>
