  <div class="modal is-active">
    <div class="modal-background" (click)="onClose()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Aprende a hacerlo</p>
        <button class="delete" aria-label="close"  (click)="onClose()"></button>
      </header>
      <section class="modal-card-body">
        <div class="container">
            <div class="notification">
              <h2>Por el momento no existen talleres para esta categoria, te invitamos a ver otras categorias y descubrir mas talleres</h2>
            </div>
          </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" routerLink="/workshop/categories">Volver a categorias</button>
        <button class="button" (click)="onClose()">Cerrar</button>
      </footer>
    </div>
  </div>