<!-- Muestra detalles del taller que tiene el usuario -->
<div class="columns" *ngIf="!edit">
  <div class="column is-half">
    <article class="message is-info">
        <div class="message-header">
            <p><strong>Categoria: </strong>{{workshop.category}}</p>
        </div>
        <div class="message-body">
            <strong>Nombre: </strong>{{workshop.name}}<br>
            <strong>Descripción: </strong><textarea class="textarea" readonly="readonly"> {{workshop.description}}</textarea><br>
            <strong>Fecha de creación: </strong>{{workshop.createdAt | date}}<br>
            <strong>Fecha de inicio: </strong>{{workshop.startDate |date}}<br>
            <strong>Fecha fin: </strong>{{workshop.endDate|date}}<br>
            <strong>Lugares disponibles: </strong>{{workshop.placesAvailable}}<br>
        </div>
    </article>
    <div class="buttons is-centered">

        <!-- si es un alumno solo podra ver el boto de  salir de grupo, en otro caso podra eliminar o editar el taller -->
        <ng-container *ngIf="!student">
            <button class="button is-danger is-rounded" (click)="eliminarTaller(workshop.id)">Eliminar</button>
            <button class="button is-link is-rounded" type="button" (click)="editarTaller()">Editar</button> 
        </ng-container>
        <button class="button is-link is-rounded" type="button" *ngIf="student" (click)="salirTaller(workshop.id)">Salir del taller</button> 
        <button class="button is-success is-fullwidth" routerLink="/profile/workshopsUser" >Volver a talleres</button>
    </div>
  </div>

  <!-- Muestra los horarios del taller, si no tiene envia un mensaje -->
  <div class="column is-half">
    <app-there-is-not *ngIf="nohay" [mensaje]="mensaje"></app-there-is-not>
    <article class="message is-dark" *ngFor="let sch of schedule">
      <div class="message-body">
        <strong>Día: </strong>{{sch.schedule_day}}<br>
        <strong>Hora de inicio: </strong>{{sch.schedule_startTime}}<br>
        <strong>Hora fin: </strong>{{sch.schedule_endTime}}<br>
      </div>
    </article>
  </div>
</div>

<ng-container *ngIf="edit">
  <button class="button is-link is-rounded" type="button" (click)="edit=false">Cancelar edición</button> 
  <form [formGroup]="editForm" (ngSubmit)=handleForm()>
    <!-- category, name, capacity, description, startDate, endDate -->
    <app-inputs-edit [value]="workshop.name" [label]="'Name'" [inputFormControl]="editForm.get('name')" [type]="'text'" [mensaje]="'Edit your name'"></app-inputs-edit>
    <app-inputs-edit [value]="workshop.category" [label]="'Last name'" [inputFormControl]="editForm.get('sureName')" [type]="'text'" [mensaje]="'Edit your Sure name'"></app-inputs-edit>
    <app-inputs-edit [value]="workshop.description" [label]="'Phone number'" [inputFormControl]="editForm.get('phone')" [type]="'number'" [mensaje]="'Change your phone number'"></app-inputs-edit>
    <app-inputs-edit [value]="workshop.startDate" [label]="'Id number'" [inputFormControl]="editForm.get('idNumber')" [type]="'date'"  [mensaje]="'Change ID number'"></app-inputs-edit>
    <app-inputs-edit [value]="workshop.endDate" [label]="'Id number'" [inputFormControl]="editForm.get('idNumber')" [type]="'date'"  [mensaje]="'Change ID number'"></app-inputs-edit>
    <app-inputs-edit [value]="workshop.capacity" [label]="'Id number'" [inputFormControl]="editForm.get('idNumber')" [type]="'date'"  [mensaje]="'Change ID number'"></app-inputs-edit>

    <button class="btn btn-warning" type="submit">Save</button>
    
</form>
</ng-container>